<div class="players-report players-contained-width">
  <div class="players-report__links">
    {{ app.request.baseUrl }}
    <a href="/admin/reserve/reports">
      <button class="players-button players-button--blue">Back to Reports</button>
    </a>
  </div>
  <div class="players-report__title">
    <h3>{{ report_info.title }}</h3>
    <h4>{{ report_info.sub_title }}</h4>
  </div>
  {% if report_info.tables %}
    {% for table in report_info.tables %}
      <details class="players-floor-date"{% if table.open %} open="open"{% endif %}>
        <summary>{{ table.summary }}</summary>
        <div class="players-content">
          {% if table.count %}
            <div class="players-report__header">
              There were {{ table.count }} entries.
            </div>
          {% endif %}
          {% if table.sub_title %}
            <div class="players-report__header">
              {{ table.sub_title }}
            </div>
          {% endif %}
          {{ table.table }}
        </div>
      </details>
    {% endfor %}
  {% endif %}
</div>
